<%= form_with model: @blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group" >
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group"  >
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control', rows: 5 %>
  </div>

  <%= form.submit 'Criar', class: 'btn btn-warning', data: { disable_with: 'Criando...' }%>
<% end %>